
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>ERoca credit card</h1>
    <p><strong>Tu número de tarjeta es:</strong> {{ cardNumber }}</p>
    <p><strong>Tu pin es:</strong> {{ cardPin }}</p>
    <p><strong>Créditos disponibles:</strong> {{ credits }}</p>

  </div>
