
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>ERoca credit card</h1>
    <p>Tu número de tarjeta es: {{ cardNumber }}</p>
    <p>Tu pin es: {{ cardPin }}</p>
    <p>Créditos disponibles: {{ credits }}</p>

  </div>
