
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>Verificación de correo electrónico</h1>
    <p>Hola {{name}},</p>
    <p>Para completar el proceso de verificación de tu correo electrónico, ingresa el siguiente código de un solo uso (OTP):</p>
    <div style="background-color: #f5f5f5; padding: 10px; margin-bottom: 20px;">
      <h2 >OTP: <span style="color: #ff0000;">{{ emailOtp }}</span></h2>
    </div>
    <p>Si no has solicitado este correo de verificación, puedes ignorarlo de forma segura.</p>
    <p>Gracias</p>
  </div>
