
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>Roca credit card</h1>
    <p>Para completar el proceso de creación de tu eRoca card, ingresa el siguiente código de un solo uso (OTP):</p>
    <div style="background-color: #f5f5f5; padding: 10px; margin-bottom: 20px;">
      <h2 style="margin-top: 0;">OTP: <span style="color: #ff0000;">{{ emailOtp }}</span></h2>
    </div>
    <p>Tu número de tarjeta es: {{ cardNumber }}</p>
    <p>Y tu pin es: {{ cardPin }}</p>

  </div>
