El cliente {{user}} ha realizado una compra

Su número de factura es: {{invoiceNumber}}.

Los productos comprados fueron:

<ul>
    {{#each carts}}
        <li>{{this.productModel}} - {{this.quantity}}</li>
    {{/each}}
</ul>
